<div class="ui segment">
  <div class="ui container">
    <div class="ui two item menu">
      <div class="item menu">
        <div class="ui transparent icon input">
          <input
            (keyup.enter)="enterSearch($event)"
            type="text"
            placeholder="Search picture..."
            [routerLink]="['/pictures']"
          />
          <i class="search icon"></i>
        </div>
      </div>

      <div class="item menu">
        <div class="ui transparent icon input">
          <input
            (keyup.enter)="enterSearch($event)"
            type="text"
            placeholder="Search video..."
            [routerLink]="['/videos']"
          />
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
