<div class="ui segment">
  <div class="ui container">
    <div class="ui two item menu">
      <div class="item menu">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search picture..." />
          <i class="search icon"></i>
        </div>
      </div>

      <div class="item menu">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search video..." />
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
