.button {
  font-size: 1.3vh !important;
}

button:hover {
  background: #76c1d4 !important;
}

.pagination {
  position: fixed;
  bottom: 2.5vh;
  left: 0;
  width: 100%;
  justify-content: center !important;
  z-index: 5;
}

@media only screen and (max-width: 1100px) {
  button {
    font-size: 2.5vmin !important;
  }
}
