<app-nav-bar class="sticky" (searchEvent)="getMedia($event)"></app-nav-bar>

<!-- Pictures -->
<div
  *ngIf="routeParams.includes('pictures')"
  class="ui container pictures-container"
>
  <div *ngFor="let picture of pictures" class="ui segment">
    <img src="{{ picture.largeImageURL }}" />
  </div>
</div>

<!-- Videos -->
<div
  *ngIf="routeParams.includes('videos')"
  class="ui container videos-container"
>
  <div class="ui grid">
    <!-- Selected video -->
    <div class="eleven wide column">
      <div class="ui embed">
        <iframe
          title="video player"
          [src]="getVideoUrl()"
          allowfullscreen
        ></iframe>
      </div>

      <div *ngIf="selectedVideo" class="ui segment">
        <h4 class="ui header">{{ selectedVideo.snippet.title }}</h4>
        <p>{{ selectedVideo.snippet.description }}</p>
      </div>
    </div>

    <!-- Videos list -->
    <div class="five wide column">
      <div *ngFor="let video of videos" (click)="selectVideo(video)">
        <img
          alt="{{ video.snippet.title }}"
          class="ui image"
          src="{{ video.snippet.thumbnails.medium.url }}"
        />
        <div class="content">
          <div class="header">{{ video.snippet.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Change these values !!!!!!!!!!!! -->
<app-pagination
  *ngIf="routeParams.includes('pictures')"
  [page]="page"
  [totalItems]="total"
  [perPage]="limit"
  (goPrev)="prevPage()"
  (goNext)="nextPage()"
  (goPage)="goToPage($event)"
></app-pagination>
