footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  font-size: 1.5vh !important;
  padding: 0 !important;
  z-index: 2;
}

footer a {
  color: white;
}

footer a:hover {
  color: #76c1d4;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 2;
}

.pictures-container {
  margin: 10vh 0;
}

.selected-video {
  position: fixed;
  width: 40vw;
}

.videos-container {
  position: relative;
  top: 10vh;
  margin-bottom: 5vh;
}

.video-snippet:hover {
  cursor: pointer;
  color: #76c1d4;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .pictures-container {
    margin: 11vh 0;
  }

  .selected-video {
    width: 63vw;
  }


  .videos-container {
    top: 11vh;
  }
}

@media only screen and (max-width: 450px) {
  .pictures-container {
    margin: 14vh 0;
  }

  .selected-video {
    width: 65vw;
  }


  .videos-container {
    top: 14vh;
  }
}
