<app-nav-bar (searchEvent)="getMedia($event)"></app-nav-bar>

<!-- Pictures -->
<div
  *ngIf="routeParams.includes('pictures')"
  class="ui container pictures-container"
>
  <div *ngIf="pictures.length">
    <div *ngFor="let picture of pictures" class="ui segment">
      <img src="{{ picture.largeImageURL }}" />
    </div>

    <!-- Pagination -->
    <div class="ui inverted center aligned segment pagination">
      <button
        class="ui button"
        (click)="pagination.onPrev(); getPictures()"
        [disabled]="pagination.page === 1"
      >
        <
      </button>

      <div class="pages-container" *ngFor="let num of pagination.getPages()">
        <button
          class="ui button"
          *ngIf="num !== pagination.page"
          (click)="pagination.goToPage(num); getPictures()"
          [disabled]="num === '...'"
        >
          {{ num }}
        </button>

        <button
          class="ui button active-button"
          *ngIf="num === pagination.page"
          (click)="pagination.goToPage(num); getPictures()"
          [disabled]="num === '...'"
        >
          {{ num }}
        </button>
      </div>

      <button
        class="ui button"
        (click)="pagination.onNext(); getPictures()"
        [disabled]="pagination.lastPage()"
      >
        >
      </button>
    </div>
  </div>

  <div *ngIf="!pictures.length" class="ui header">
    No pictures found. Sorry!
  </div>
</div>

<!-- Videos -->
<div
  *ngIf="routeParams.includes('videos')"
  class="ui container videos-container"
>
  <div *ngIf="videos.length" class="ui grid">
    <!-- Selected video -->
    <div class="eleven wide column">
      <div class="ui segment selected-video">
        <div class="ui embed">
          <iframe
            title="video player"
            [src]="getVideoUrl()"
            allowfullscreen
          ></iframe>
        </div>

        <div *ngIf="selectedVideo" class="ui segment">
          <h4 class="ui header">{{ selectedVideo.snippet.title }}</h4>
          <p>{{ selectedVideo.snippet.description }}</p>
        </div>
      </div>
    </div>

    <!-- Videos list -->
    <div class="five wide column">
      <div
        class="ui segment video-snippet"
        *ngFor="let video of videos"
        (click)="selectVideo(video)"
      >
        <img
          alt="{{ video.snippet.title }}"
          class="ui image"
          src="{{ video.snippet.thumbnails.medium.url }}"
        />
        <div class="content">
          <div class="header">
            {{ video.snippet.title }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!videos.length" class="ui header">
    No videos found. Sorry!
  </div>
</div>

<footer class="ui inverted center aligned segment">
  <p>
    Made with
    <span id="heart"> ❤ </span>
    by A.C. ⠀· ⠀
    <a href="https://github.com/AdrianaCucu" target="_blank">
      GitHub
    </a>
  </p>
</footer>
